{
    "semi": true,
    "arrowParens": "always",
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "htmlWhitespaceSensitivity": "css"
}
